# Segredos — NUNCA versionar
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Ambientes virtuais
.venv/
venv/
env/

# Ferramentas / editores
.vscode/
.idea/
*.log

# Sistema
.DS_Store
Thumbs.db
